/* Category Product List Video */
 .CategoryContent .ProductList li {
    width: 310px;
    clip: rect(auto, auto, auto, 14px);
}
.CategoryContent .videoDemoBtn {
    top:0;
    right:0;
    display: block;
}
.categoryDemoVideo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.categoryDemoVideo video {
    height: 100%;
    width: 100%;
}
.Rating.Rating0 {
    display: none !important;
}
.videoDemoBtn {
    width: 70px;
    height: 73px;
    border-radius: 60px;
    position: absolute;
    cursor: pointer;
    z-index: 90;
    display: none;
    clip: rect(auto, auto, auto, auto);
/*     background-color: lightgray; */
	background-color: #39B54A;
}
.videoDemoBtn.videoPlaying {
	background-color: #e53b2c;
}
.videoDemoBtn .triangle {
    width: 0px;
    height: 0px;
    left: 28px;
	top: 12px;
    position: absolute;
    border-top: 8px solid transparent;
    border-bottom: 10px solid transparent;
	border-left: 16px solid #fff;
    z-index: 1;
    border-radius: 2px;
/*     opacity: 0.5; */
	color: #fff;
}
.videoDemoBtn .triangle:after {
	content: "Show Video";
	position: absolute;
	left: -28px;
	top: 12px;
	text-transform: uppercase;
}
/*
.videoDemoBtn:hover .triangle {
    opacity: 1;
}
*/
.videoDemoBtn.videoPlaying .triangle {
	border: 8px solid #fff;
	left: 26px;
	top: 12px; 
}
.videoDemoBtn.videoPlaying .triangle:after {
	content: "Hide Video";
	left: -18px;
}
