<style>
@media screen and (max-width: 768px) {
	.catVid {
		pointer-events: initial;
	}
}
</style>
<script type="text/javascript">
//Category Page Demo Videos 
        $('<style type="text/css">\
        /* Category Product List Video */\
        .SearchContainer .ProductList li {\
            overflow: visible;\
            /*width: 310px;*/\
            width: 33%;\
        }\
        .catVid {\
            position: absolute;\
            top: -0.5%;\
            left: 0;\
            right: 0;\
            bottom: 0;\
            height: 101%;\
            width: 101%;\
            background-color: #fff;\
			pointer-events: none;\
        }\
        .catVid video {\
            height: 100%;\
            width: 100%;\
        }\
        .catVid video::-webkit-media-controls {\
            width: 100%;\
        }\
        .Rating.Rating0 {\
            display: none !important;\
        }\
        .videoDemoBtn {\
            width: 36px;\
            height: 36px;\
            position: absolute;\
            cursor: pointer;\
            z-index: 90;\
            display: block;\
            background-color: #39B54A;\
            background-color: #6ADA78;\
            top:0;\
            right:0;\
        }\
        .videoDemoBtn.videoPlaying {\
            background-color: #e53b2c;\
        }\
        .videoDemoBtn .triangle {\
            width: 0px;\
            height: 0px;\
            left: 13px;\
            top: 6px;\
            position: absolute;\
            border-top: 6px solid transparent;\
            border-bottom: 7px solid transparent;\
            border-left: 12px solid #fff;\
            z-index: 1;\
            border-radius: 2px;\
            color: #fff;\
        }\
        .videoDemoBtn .triangle:after {\
            content: "DEMO";\
            position: absolute;\
            text-transform: uppercase;\
            left: -17px;\
            top: 9px;\
            font-size: 8px;\
        }\
        .videoDemoBtn.videoPlaying .triangle {\
            border: 6px solid #fff;\
            left: 12px;\
        }\
        .videoDemoBtn.videoPlaying .triangle:after {\
            left: -10px;\
        }\
        </style>')
            .appendTo('head');

	var DankStopGlossary = {
		"videos": {
		    "78": "-r1v5Cu_yj8",
		    "79": "DQoi4FfyO40",
		    "82": "-da46e3WDBA",
		    "91": "RIuMdSvYZ7o",
		    "92": "gWMlfGteBO4",
		    "97": "II3vVOXlP7E",
		    "98": "d9LYwGFpvnA",
		    "99": "DmTH46Zy6JU",
		    "189": "QRBKbFpqsiM",
		    "190": "QRBKbFpqsiM",
		    "191": "Ysem3a5di7M",
		    "247": "kpCY5YHkRbU",
		    "253": "7_oEvOfVy-U",
		    "284": "Yk0ZNEJOn5A",
		    "287": "oqAzUkvYdao",
		    "288": "x4wPOs6eeYI",
		    "289": "IwZzvJaf_28",
		    "305": "xmA3SWn5L_k",
		    "308": "gWMlfGteBO4",
		    "312": "sGR7tZsjhRc",
		    "383": "EMB1572bQgM",
		    "398": "GKsi81PXazs",
		    "400": "u1WFvrYg1_U",
		    "401": "Zsjr46Vv13A",
		    "404": "0Z2BC57hRgQ",
		    "418": "67LcMc1nP2o",
		    "429": "DW_xxdMFM5Y",
		    "430": "9EHTONEXvGo",
		    "431": "HjMP-b8gnzQ",
		    "436": "OCUnN5UnyOo",
		    "438": "PicS6EO2_0o",
		    "442": "0vBcqmn4T1g",
		    "443": "eknCAjOWxuA",
		    "444": "pRUqG429t48",
		    "445": "3mmS5yxU7CE",
		    "449": "xcD9o6LvQW8",
		    "450": "jK-QeGsZNr8",
		    "451": "Ol9SMLEqK6E",
		    "452": "boafhMwTfx4",
		    "454": "PWArc1WKaz0",
		    "455": "8Q5IYHQG_vA",
		    "456": "FDvhNVBd3oo",
		    "457": "dZQakj6BHyA",
		    "458": "yqHilJ-rHaI",
		    "459": "G5mrDvqdcY",
		    "470": "mMUKzwz0G5s",
		    "484": "0Ngm-dc5JdE",
		    "487": "gsyi9UK__vA",
		    "489": "jomnkggoL3k",
		    "505": "IerWg3I80C0",
		    "515": "zYkxegcQib4",
		    "518": "TDhJBRw3BJw",
		    "527": "ePrZ22Pg3AA",
		    "528": "_II6sKOzEGk",
		    "529": "-77GdbhtOJo",
		    "531": "IfaJl3f3K84",
		    "532": "83bitpG22tY",
		    "534": "AhdJx8rTmEg",
		    "535": "wWnntlM-uac",
		    "536": "426k_Rjzrno",
		    "537": "1l3dcQ027T0",
		    "539": "QZCjHjhw-y4",
		    "540": "CzydiLU2k_I",
		    "541": "jI43P9-BtEU",
		    "542": "qec6NalpC3s",
		    "543": "qdOQ9Eet5IUs",
		    "544": "lvNNfpRYsik",
		    "545": "Oz5NJrfy_hE",
		    "549": "YglootmGJ6A",
		    "550": "NsW2-6E3JtQ",
		    "551": "scJ2Tvvr0bM",
		    "552": "AhVMaPvCvhQ",
		    "553": "2iu1wTAJJgY",
		    "554": "gAF_A8H0kj8",
		    "555": "sIf1MOdo6FQ",
		    "556": "sQnJm2pOVR4",
		    "557": "BtvshdF37WU",
		    "558": "euDUybStO9g",
		    "559": "HHqXPR5qASY",
		    "560": "3Se03JobCf4",
		    "561": "5L06y5avOqE",
		    "563": "cHaFwJdWhMU",
		    "564": "LcgIHmRfIQ4",
		    "565": "g6pdzEDbqKc",
		    "569": "2Dv_ecAiu3U",
		    "570": "_7yhlPH9Qxc",
		    "573": "SXzi2V-_mGw",
		    "576": "yqxSBhwqiaA",
		    "577": "DaV2opCCUys",
		    "578": "WMWjTjMz7Qc",
		    "580": "9MssIMBd85A",
		    "581": "0CbThboRD94",
		    "586": "snY0wpg7TxE",
		    "587": "Ai9sXwi7yXw",
		    "588": "hBxe809-Dho",
		    "589": "16Kyvr5vWng",
		    "596": "KoMmc_EFkrM",
		    "597": "5ejHbtd1C9s",
		    "598": "YMbYo3SZOjk",
		    "599": "8SFWHYfeQZ8",
		    "602": "SAs_7lTQmnY",
		    "607": "cmGyjsqi66A",
		    "608": "CMBzGHdbQ2A",
		    "609": "VPJmygaTbMk",
		    "610": "xbaPKZsMOIA",
		    "611": "qQUapTx4ZHM",
		    "612": "OCUnN5UnyOo",
		    "613": "wjgue6gdCwU",
		    "614": "q2EbifObHX8",
		    "615": "2V-_wtfgJJQ",
		    "616": "O4oGg03gTaQ",
		    "620": "mnhA7U4eD0Y",
		    "621": "WK216Hsk_kw",
		    "622": "O86KcqynCoY",
		    "623": "64NvFp3dk30",
		    "624": "KBsObxbFM3M",
		    "625": "yes",
		    "627": "T3vFW7noBpo",
		    "638": "eEI6mvTe48k",
		    "656": "LUkocC_-O4Y",
		    "658": "O3s5bCYxDEk",
		    "660": "2PMnnibq0qI",
		    "662": "zhfXvX8kBVA",
		    "663": "5sGvdCZOjGg",
		    "668": "GvZV_BJjSNY",
		    "670": "ZSXLwXUW0As",
		    "672": "bHA8sg5nUtI",
		    "673": "yes",
		    "674": "yes",
		    "675": "yes",
		    "678": "-TkO8tFaTpA",
		    "679": "9l33Az5i0VQ",
		    "688": "kaXju-uP6gM",
		    "690": "BqwK8OLAeFA",
		    "691": "eGVsVmAVq5E",
		    "692": "XremypU29vM",
		    "693": "DeUVDcukyYQ",
		    "694": "gTUbdslDiRE",
		    "695": "ZVKNCasOYhM",
		    "697": "KoUQfAuJR8s",
		    "699": "AW4TdSyJ9ug",
		    "700": "bNyOldWMudk",
		    "705": "yes",
		    "706": "BdpguFOTmYo",
		    "707": "Nc850jeW7oM",
		    "724": "yes",
		    "725": "P-5hfL2AaME",
		    "728": "fOxPC_bpwEQ",
		    "729": "yes",
		    "730": "nN_03r4BPYI",
		    "731": "78I-UTaEX0s",
		    "733": "tb0nl38VZGM",
		    "742": "Ih60R599hGo",
		    "755": "y8N6JjsqJuA",
		    "769": "dxSjlTBIxUs",
		    "770": "Dkp43Cc-jWE",
		    "778": "Pl7o8J5WRBY",
		    "780": "uGKN2TN3yU8",
		    "781": "61cCsHmDMrA",
		    "782": "WZxWjuAS_Is",
		    "783": "Bv1hJYrPpfc",
		    "787": "VK0V6laYAU0",
		    "791": "fqHCwLJ-3aM",
		    "792": "yes",
		    "795": "INJH-3g6p8o",
		    "799": "53k30QI6tl8",
		    "800": "xBqF-dxWVdM",
		    "801": "Ka8AWKnIV9Q",
		    "802": "242mYjrLkYc",
		    "805": "H6XnVY1cRAw",
		    "806": "xZi1BaGxIqU",
		    "812": "yes",
		    "813": "nJuySvDsi5E",
		    "814": "nJuySvDsi5E",
		    "815": "_NQeZjX52ug",
		    "817": "HYAN5ljS1Dw",
		    "818": "yes",
		    "819": "C5dLCa_HJeI",
		    "820": "-01Uvk-PI5U",
		    "832": "yes",
		    "835": "ngzeYqkos1E",
		    "840": "KMe8PoZ_NRc",
		    "842": "7HXYLDfqFjs",
		    "845": "YH9xH4gGn8k",
		    "853": "T7xersSWWMI",
		    "858": "K63TQFQqb7c",
		    "862": "yes",
		    "863": "yes",
		    "864": "Hu5N98pyKpo",
		    "865": "yes",
		    "866": "OhBMY6mLmvQ",
		    "867": "eh_8PGVLOWk",
		    "868": "yes",
		    "869": "KaJEC6YExH0",
		    "870": "rN0N0DgbD6I",
		    "872": "OLBrIQLG-_c",
		    "873": "K_CfdWTOeeE",
		    "874": "GNNIWUgaN5U",
		    "875": "rp6BA-EUopo",
		    "876": "yes",
		    "877": "q0H8icohwPE",
		    "878": "kSEPy-11zp8",
		    "879": "yes",
		    "880": "EvO3Y96eRxg",
		    "882": "2do6cJEFZ5s",
		    "883": "CwbSqtrzeoM",
		    "884": "aFUv_RLSD7o",
		    "885": "_xSRLxjIfkA",
		    "886": "yes",
		    "887": "yes",
		    "888": "Cr81aC6o03w",
		    "889": "5yquxfrJN-g",
		    "891": "xF1e9mIEd4E",
		    "892": "7_Gh-M42WvA",
		    "893": "TCIYPiBYwnE",
		    "897": "yes",
		    "899": "e-62yal0tE4",
		    "900": "SZxIfcrPK1Q",
		    "902": "8F2VEc3puJI",
		    "916": "88ldK0yCmEA",
		    "918": "WDJ7FAw5Mww",
		    "926": "j36H0VEEgfQ",
		    "927": "CfkXur3_6BQ",
		    "929": "nK0d7K6k0vk",
		    "934": "MfjJrZRX_R8",
		    "936": "qbClf46vnpE",
		    "937": "Y2U-_aJWggk",
		    "938": "ypdYj8XXopA",
		    "943": "7VTj43V0iFs",
		    "944": "RPtBK4Ahm8I",
		    "945": "1mnDE5rFx0k",
		    "946": "mzlvVeucvbQ",
		    "947": "4GwEGA0pryA",
		    "948": "yes",
		    "961": "Kb8EVZm1zk0",
		    "964": "KyT2ErZQU_0",
		    "965": "yes",
		    "966": "j9nQBtJ0-1g",
		    "967": "MUnkTx1WZ3k",
		    "980": "d9LYwGFpvnA",
		    "981": "xTpLnO7bDno",
		    "982": "8AGQvon06eI",
		    "983": "420axDgQlqY",
		    "985": "oRl0nWkQgX8",
		    "986": "SE4C8FcexTI",
		    "987": "bGPoOnfdACM",
		    "990": "7ejc85h_sG4",
		    "991": "Et6clQDn79Q",
		    "992": "yes",
		    "993": "Z-xxsraL3_4",
		    "998": "yes",
		    "999": "VcS37uThJx0",
		    "1001": "ODRQoj5Vsv4",
		    "1003": "oDJxHSJjgsg",
		    "1006": "d2AUp4w18GE",
		    "1010": "yes",
		    "1012": "roUwZAO0aiw",
		    "1045": "RvhUpJcXqzY",
		    "1046": "YH1nvZJc3fU",
		    "1047": "yes",
		    "1048": "yes",
		    "1049": "T5wKIcOruYA",
		    "1054": "wb1fnoc9Y7w",
		    "1057": "HcoS9Htw-ew",
		    "1059": "yes",
		    "1094": "OeG-nwL1O_o",
		    "1102": "u35uqZQ2PlQ",
		    "1104": "yIj1lo5eP6A",
		    "1106": "yes",
		    "1107": "yes",
		    "1108": "7ejc85h_sG4",
		    "1114": "ReGntb6VHEc",
		    "1116": "yes",
		    "1117": "xjOvyhSXeOg",
		    "1118": "qaZpGvez7uQ",
		    "1119": "yes",
		    "1120": "yes",
		    "1121": "yes",
		    "1132": "yes",
		    "1135": "yes",
		    "1136": "yes",
		    "1137": "yes",
		    "1158": "yes",
		    "1174": "s4n5Q03VwNw",
		    "1179": "NJiIm4twFIk",
		    "1183": "vs7ZQXo53R0",
		    "1185": "vimJrcGOhOU",
		    "1187": "BxSGKCrrp4o",
		    "1199": "NDKUAOLAH44",
		    "1203": "jpXFZROvJo0",
		    "1204": "YewQUUMNC4w",
		    "1217": "NYvq9OI3nLE",
		    "1218": "rcXhBfvHImc",
		    "1220": "z-2FOo_lePs",
		    "1221": "XvBMgfGAdUE",
		    "1222": "CyPbyVJ0XAc",
		    "1223": "L3OoIe9ivdI",
		    "1224": "qk-cNQKIDug",
		    "1226": "KG5iTo5aYJU",
		    "1227": "BlOaCRy67Nw",
		    "1228": "hvOzzSjAers",
		    "1229": "KLzkI7QAdo0",
		    "1238": "tXaclMhSSSE",
		    "1239": "apAYEpZv8Nw",
		    "1240": "M0r8b1aqcHo",
		    "1248": "Q3Q9Gpc1h28",
		    "1251": "9JjkJhB57Rs",
		    "1263": "jhUkduxElfs",
		    "1271": "7btLGAy031w",
		    "1301": "IGHtD7vqZmQ",
		    "1302": "V9vLYdnrAaM",
		    "1306": "b5XaN60wWHw",
		    "1308": "XnnYEZTZllE",
		    "1309": "nz1xKvITxBw",
		    "1311": "wDDuyxlE6-Q",
		    "1335": "8RqyJc5mpA0",
		    "1336": "FkLiDvzpRXA",
		    "1342": "r7IQygv49ys",
		    "1343": "9ANEdaqUYgY",
		},
		"misc": "misc"
	};

            
    function showProductListDemoVideos() {
        /* Play-Stop trigger button functionality */
        $('.ProductList').on('click', '.videoDemoBtn', function() {
	        var thisVidNum = $(this).attr('class').replace(/\D/g,'');
            if ($(this).hasClass('videoPlaying')) {
                $(this).removeClass('videoPlaying');
                $(this).parent().find('.catVid').remove();
                $('#yTApiSc' + thisVidNum).remove();
            } else {
                if ($('.ProductList .videoDemoBtn.videoPlaying').length > 1) {
	                $($('.ProductList .videoDemoBtn.videoPlaying')[0]).click();
	            }
            	var productNumber = $(this).parent().find('.ProductCompareButton .CheckBox').attr('value');
				if ($(this).hasClass('yTVideo')) {
					var vidId = DankStopGlossary.videos[productNumber];
					var wLO = window.location.origin;
					var yTParams = '?enablejsapi=1&autoplay=1&loop=1&playlist='+ vidId + '&theme=light&controls=0&origin=' + wLO;
	                var videoTagCode = '<div class="catVid yTV yTV'+thisVidNum+'"><iframe id="yTV" src="http://www.youtube.com/embed/'; 
	                	videoTagCode += '' + vidId + yTParams +'" height="100%" width="100%" ';
	                	videoTagCode += 'frameborder="0" allowfullscreen></iframe></div>';
					if (typeof tag === "undefined") { 
						// if first run load the YT API which will call the correct functions.
						var tag = document.createElement('script');
						tag.src = "https://www.youtube.com/iframe_api";
						tag.id = "yTApiSc" + thisVidNum;
						var firstScriptTag = document.getElementsByTagName('script')[0];
						firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
					} else {
						// if YT api already loaded, we need to call the function.
						onYouTubeIframeAPIReady();
					}
					var player;
					window.onYouTubeIframeAPIReady = function() {
						console.log('HELLO!');
						player = new YT.Player('yTV', {
							videoId: ''+vidId+'',
							events: {
								'onReady': onPlayerReady
							}
						});
					}
					
					// 4. The API will call this function when the video player is ready.
					function onPlayerReady(event) {
						console.log('HELLO!  22222');
						event.target.playVideo();
					}
	            } else {
	                var videoTagCode = '<div class="catVid">' +
	                    '<video id="demoVideo'+thisVidNum+'" class="video" poster="/content/images/dankstop-loading-running-cat-wbg3.gif"'+
	                    ' preload autoplay loop autobuffer muted controls width="100%" height="100%" >'+
	                    '<source src="/content/videos/' + productNumber + '.mp4" type="video/mp4">'+
	                    '<source src="/content/videos/' + productNumber + '.ogv" type="video/ogg">'+
	                    '<p>Your browser does not support this video.  Please upgrade your browser!</p>'+
	                    '</video>'+
	                    '</div>';
	            }
                $(this).addClass('videoPlaying');
                $(this).parent().find('.ProductImage').append(videoTagCode);
				var video = document.getElementById('demoVideo'+thisVidNum+'');
				if (video) video.play();
            }
        });
        /* If produt video ID exists in DankStopGlossary DB, add a Play/Stop tirgger button */
        var videoIndex = 0;
        $('.ProductCompareButton .CheckBox').each(function checkForVideo(url) {
	        videoIndex++;
            var $thisProductListingItem = $(this).closest('li');
            var productNumber = $(this).attr('value');
            var ProductCatOpt = $(this).parents().eq(3).find('.ProductActionAdd a');
            
			if (DankStopGlossary.videos[productNumber]) {
				if (DankStopGlossary.videos[productNumber] != 'yes') {
					var pB = $('<span class="videoDemoBtn yTVideo video'+videoIndex+'"><div class="triangle"></div></span>').hide().fadeIn(700);
				} else {
					var pB = $('<span class="videoDemoBtn video'+videoIndex+'"><div class="triangle"></div></span>').hide().fadeIn(700);
				}
                $thisProductListingItem.append(pB);
		    }
        });
    };

    $(document).ready(function() {
        showProductListDemoVideos();
    });
</script>